<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{% include "widget_icon.html" with icon="analytics" size=50 %} GA4</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jennifer Perseverante
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="monthly?account=1">Indicateurs mensuels</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="source?account=1">Sources</a></li>
            <li><a class="dropdown-item" href="trafficsource?account=1">Traffic Sources</a></li>
            <li><a class="dropdown-item" href="mostviewedpages?account=1">Pages les plus vues</a></li>
            <li><a class="dropdown-item" href="devices?account=1">Devices</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transbeaute
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="monthly?account=2">Indicateurs mensuels</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="source?account=2">Sources</a></li>
            <li><a class="dropdown-item" href="trafficsource?account=2">Traffic Sources</a></li>
            <li><a class="dropdown-item" href="mostviewedpages?account=2">Pages les plus vues</a></li>
            <li><a class="dropdown-item" href="devices?account=2">Devices</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>